<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>메인 홈 화면</title>
</head>
<body>
    <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}">관리자 페이지</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
    <a sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
    <br>
    <div>
        <h1>인적사항 등록하러 가기!</h1>
        <a th:href="@{/enroll}">클릭</a>
    </div>
    <br>

    <form action="/search" method="GET">
        <input name="keyword" type="text" placeholder="찾고자하는 이름을 검색하세요">
        <button>검색</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>작성일</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="info : ${infoList}">
            <td>
                <span th:text="${info.id}"></span>
            </td>
            <td>
                <a th:href="@{'/enroll/' + ${info.id}}">
                    <span th:text="${info.name}"></span>
                </a>
            </td>
            <td>
                <span th:text="${#temporals.format(info.createdTime, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
        </tr>
        </tbody>

    </table>
</body>
</html>